@mixin anim($param: all, $dur: .15s, $type: ease-in-out, $delay: 0s) {
	transition: $param $dur $type $delay;
}
@mixin anim-param($params...) {
	transition-property: $params;
}
@mixin no-anim {
	transition: none;
}
@mixin gradv($color1, $color2, $opacity: 50%) {
	background: mix($color1, $color2, $opacity);
	background: -webkit-linear-gradient(top, $color1 0%, $color2 100%);
	background: -ms-linear-gradient(top, $color1 0%, $color2 100%);
	background: linear-gradient(to bottom, $color1 0%, $color2 100%);
}
@mixin column-width($i) {
	column-width: $i;
}
@mixin column-count($i) {
	column-count: $i;
}
@mixin column-gap($i) {
	column-gap: $i;
}
@mixin columns($i, $j: 0) {
	@include column-count($i);
	@include column-gap($j);
}
@mixin letter-spacing($fz, $ls) {
	letter-spacing: (($fz/1000)*$ls);
}
@mixin breakpoint($point, $type: max) {
	@media screen and (#{$type}-width: #{$point}px) {@content;}
}
@function em($pixels, $context: $browser-context) {
	@return #{$pixels/$context}em
}