// Custom global colors

// Default global colors
$colorText: #000;
$colorLink: #00f;
$colorPlaceholder: #fff;
$bgBody: #fff;

// Widths
$minWidth: 1002px;

// Fonts
$family: Arial, Helvetica, sans-serif;
$fz: 14px;
$lh: 16px;