@import "imports/reset";
@import "imports/variables";
@import "imports/tools";
@import "imports/mixins";
@import "imports/extends";
// @import "imports/sprite";

body {
	margin:0;
	color: @colorText;
	font: @fz/@lh @family;
	background: @bgBody;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
	min-width: @minWidth;
}
a {
	background-color: transparent;
	text-decoration: none;
	color: @colorLink;
	.anim;
	.anim-param(color, background, border-color);
}
input,textarea,select,button {
	font: @fz/@lh @family;
	vertical-align: middle;
}
textarea {
	resize: vertical;
	overflow: auto;
	vertical-align: top;
}
::-moz-placeholder {color: @colorPlaceholder; opacity: 1;}
:-ms-input-placeholder {color: @colorPlaceholder;}
::-webkit-input-placeholder {color: @colorPlaceholder;}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
}
h3 {
	font-size: 1.17em;
	margin: 1em 0;
}
h4 {
	font-size: 1em;
	margin: 1.33em 0;
}
h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}
h6 {
	font-size: 0.75em;
	margin: 2.33em 0;
}