<!-- inject:svg -->
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><symbol id="icon-play" viewBox="0 0 101.5 101.5">
<g>
	<path d="M50.8,0C22.7,0,0,22.7,0,50.8s22.7,50.8,50.8,50.8s50.8-22.7,50.8-50.8S78.8,0,50.8,0z M37.9,78.3v-55
		l37.7,27.3L37.9,78.3z"/>
</g>
</symbol></svg>
<!-- endinject -->