<section class="home-banner" style="background-image: url('images/img01.jpg');">
    <div class="site-width">
        <div class="spacer">
            <div class="home-banner__holder">
                <div class="home-banner__container">
                    <form action="#" class="form form-search">
                        <h2>Browse. Join. Connect. eHost Family</h2>
                        <div class="form-search__container">
                            <div class="form-search__subtitle">
                                <h3>find an<br>ehost family</h3>
                            </div>
                            <div class="form-search__fields">
                                <div class="fields-table">
                                    <div class="fields-table__cell">
                                        <div class="form__item">
                                            <input type="text" placeholder="Enter School Name">
                                        </div>
                                    </div>
                                    <div class="fields-table__cell">
                                        <div class="form__item">
                                            <select>
                                                <option>option 1</option>
                                                <option>option 2</option>
                                                <option>option 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="fields-table__cell">
                                        <div class="form__item">
                                            <select>
                                                <option>option 1</option>
                                                <option>option 2</option>
                                                <option>option 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="fields-table__cell">
                                        <div class="form__item">
                                            <div class="qty">
                                                <label for="#">Students</label>
                                                <input type="text">
                                                <a href="#">up</a>
                                                <a href="#">down</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-search__actions">
                                <button type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>