<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="css/styles.css">

    <title>{{ title }} - {{ page.title }}</title>

</head>
<body>
<div class="hide">
    {% include '../include/svg-sprite.twig' %}
</div>
{% block wrapper %}{% endblock %}
</body>
</html>