<header class="site-header">
	<div class="site-width">
		<div class="site-header__container">
			<strong class="logo">
				<a href="#">
					<img src="images/logo.svg" alt="">
				</a>
			</strong>
			<nav class="main-nav">
				<ul class="main-nav__list">
					<li class="has-children">
						<a href="#">how it works</a>
						<div class="main-nav__sub">
							<ul>
								<li><a href="#">item</a></li>
								<li><a href="#">item</a></li>
								<li><a href="#">item</a></li>
							</ul>
						</div>
					</li>
					<li class="no-children">
						<a href="#">our services</a>
					</li>
					<li class="has-children">
						<a href="#">english</a>
					</li>
				</ul>
			</nav>
			<a href="#" class="btn-login">host login</a>
			<a href="#" class="btn-register">become a<br>host family</a>
		</div>
	</div>
</header>