<!-- set _base.twig as a parent of this template -->
{% extends "_base.twig" %}

{% block wrapper %}
	<div class="wrapper">
		{% include '_header.twig' %}
		{% block page %}{% endblock %}
		{% include '_footer.twig' %}
	</div>
{% endblock %}