<!-- set _layout.twig as a parent of this template -->
{% extends "layout/_layout.twig" %}

<!-- Current Page Title -->
{% set page = {
    title: 'Page Title'
} %}

{% block page %}
	{% include 'components/_home-banner.twig' %}
{% endblock %}