.anim(@param: all, @dur: .15s, @type: ease-in-out, @delay: 0s) {
	-webkit-transition: @param @dur @type @delay;
	transition: @param @dur @type @delay;
}
.anim-param(@params...) {
	@value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;
	-webkit-transition-property: @value;
	transition-property: @value;
}
.no-anim {
	-webkit-transition: none;
	transition: none;
}
.gradv(@color1, @color2, @opacity: 50%) {
	background: mix(@color1, @color2, @opacity);
	background: -webkit-linear-gradient(top, @color1 0%, @color2 100%);
	background: -ms-linear-gradient(top, @color1 0%, @color2 100%);
	background: linear-gradient(to bottom, @color1 0%, @color2 100%);
}
.gradh(@color1, @color2, @opacity: 50%) {
	background: mix(@color1, @color2, @opacity);
	background: -webkit-linear-gradient(left, @color1 0%, @color2 100%);
	background: -ms-linear-gradient(left, @color1 0%, @color2 100%);
	background: linear-gradient(to right, @color1 0%, @color2 100%);
}
.column-width(@i) {
	-webkit-column-width: @i;
	-moz-column-width: @i;
	column-width: @i;
}
.column-count(@i) {
	-webkit-column-count: @i;
	-moz-column-count: @i;
	column-count: @i;
}
.column-gap(@i) {
	-webkit-column-gap: @i;
	-moz-column-gap: @i;
	column-gap: @i;
}
.columns(@i, @j) {
	.column-count(@i);
	.column-gap(@j);
}
.responsive(@maxWidth; @rules) {
	@media only screen and (max-width: @maxWidth) {
		@rules();
	}
}