.a-left {text-align: left;}
.a-right {text-align: right;}
.a-center {text-align: center;}
.fleft {float: left;}
.fright {float: right;}
.ovhidden {overflow: hidden;}
.ellipsis {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}