// Default global colors
@colorText: #263037;
@colorLink: #00f;
@colorPlaceholder: #fff;
@bgBody: #fff;

// Custom global colors

// Widths
@minWidth: 1002px;

// Fonts
@family: Arial, Helvetica, sans-serif;
@fz: 14px;
@lh: 16px;